<body>

    <div class="area">
        <ol class="circles">
            <li>doc</li><li>pdf</li><li>docx</li><li>png</li><li>jpeg</li><li>mp3</li><li>mp4</li><li>pptx</li><li>ppt</li><li>jpg</li><li>web</li>       
            <li>doc</li><li>pdf</li><li>docx</li><li>png</li><li>jpeg</li><li>mp3</li><li>mp4</li><li>pptx</li><li>ppt</li><li>jpg</li><li>web</li> 
            <li>pdf</li>
            
        </ol>
    </div>
    <div class="loginbackground">
    <div id="login" *ngIf="!showLoginForm">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="assets/image/0.png" class="img-fluid" id="icon" alt="User Icon" height="100" width="180" />
                    <h2 style="color:#969799;">Aroha File Box</h2>

                </div>
                <br>
                <!-- Login Form -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <input type="text" name="eMail" id="login" class="fadeIn second" placeholder="User Email" required
                        style="font-family: 'Courier New', Courier, monospace;">
                    <input type="password" name="userPwd" id="password" class="fadeIn third" placeholder="password"
                        required style="font-family: 'Courier New', Courier, monospace;">
                    <input type="submit" class="fadeIn fourth" [disabled]="!disableBtn" value="Log In"
                        style="font-family: 'Courier New', Courier, monospace;">
                </form>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" id="showForgot" (click)="showLogin()"
                        style="font-family: 'Courier New', Courier, monospace;">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password -->
    <div id="forgot" *ngIf="showLoginForm">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="assets/image/0.png" id="icon" alt="User Icon" height="100" width="180" />
                    <h2 style="color:#969799;">Aroha File Box</h2>
                </div>
                <br>
                <!-- Generate PassWord -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <input type="text" name="emailForOtp" id="login" class="fadeIn second" placeholder="Enter Email"
                        required style="font-family: 'Courier New', Courier, monospace;">
                    <input type="submit" class="fadeIn fourth" value="Generate OTP"
                        style="font-family: 'Courier New', Courier, monospace;">
                </form>
                <!-- Login Again -->
                <div id="formFooter">
                    <a class="underlineHover" id="showLogin" (click)="showLogin()"
                        style="font-family: 'Courier New', Courier, monospace;">LogIn</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>