
    <div class="footer contaner">
        <div class="footerText col-xs-4 col-sm-4 col-md-4 col-lg-4"  style="float: left;" >
            <br>
             <a href='https://www.aroha.co.in/#Digital_services'>Digital Services</a><br>         
            <a href='https://www.aroha.co.in/#Data_Services'>Data Services</a><br>
            <a href='https://www.aroha.co.in/#knowledge_services'>knowledge services</a><br>
            <a href='https://www.aroha.co.in/#Staff_Augmentation'>Staff Augmentation</a><br>
            <a href='https://www.aroha.co.in/#about_us'>About</a><br><br>
            <h6>Get In Touch</h6>
            Web : <a href='https://www.aroha.co.in'>https://www.aroha.co.in</a><br>
            Ring Us : <a href='#'>08050445829</a><br>
            Email : <a href='admin@aroha.co.in'>admin@aroha.co.in</a><br><br>
        </div>
		<div class="footerText col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<h2>About</h2>
		<p style="color: rgb(75, 31, 31);overflow: hidden;align-content: center;">
        Aroha was created to provide consultants in BIDW Technologies to customers.
        Started in Dec 2005 with 6 employees and served more than 40 customers till date.
        Most of our customers we started with, we still continue with the partnership.
        We are extremely proud to say that we work with start ups, non IT companies & 
        fortune 500 to add value in Data area.Our consultants are specialized in 
        most of our core areas like
              Data Management activities
              Data Integration technologies
              Reporting and Analysis
              Analytics and Visualization
        </p>
		</div>
    </div>
   <div class="contaner">
    <div class='copyright-area' style="align-content: center;">Created By <a href=''>Mehul Raj</a> |
        Powered By <a href='https://www.aroha.co.in' rel='dofollow'  target='_blank'>Aroha Technologies</a>
        <br>
        Copyright &#169; <a href='/'>2019.</a> All rights reserved.
    </div>
   </div>