<div class="header">
    <ul>
        <li><a href="index.jsp">Home</a></li>
        <li> <a href='https://www.aroha.co.in/#Digital_services'>Digital Services</a><br></li>      
        <li><a href='https://www.aroha.co.in/#Data_Services'>Data Services</a><br></li> 
        <li><a href='https://www.aroha.co.in/#knowledge_services'>knowledge services</a><br></li> 
        <!-- <li><a href='https://www.aroha.co.in/#Staff_Augmentation'>Staff Augmentation</a><br></li> -->
        <li><a href='https://www.aroha.co.in/#about_us'>About</a></li>
         <li><a href='destroy'style="float:right">LogOut</a></li>
      </ul>
  </div>