<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<!-- Header-->
<app-headder></app-headder>


<router-outlet></router-outlet>
 <!-- Resources
   <input type="text" [(ngModel)]="name">
   <p>{{name}}</p>
   Next Steps -->
<!--
   <app-component></app-component>-->
   <app-log-in-body></app-log-in-body>
   <!-- Footer-->
   <div id="appFooter-component" class="container-fluid">
   <appFooter-component></appFooter-component>
  </div>