<!-- Header -->

<app-header-log-in></app-header-log-in>

<!-- Body -->
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h6>Drop Box</h6>
            <hr/>
            <h6 class="text-center"><i class="fa fa-user-circle-o"></i> {{userName}}</h6>
            <p class="text-center">Logged In as {{userRole}}</p>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="vertical-menu">
                <a>Create Company</a><br>
                <a>Create Department</a><br>
                <a>Create Project</a><br>
                <a>Create Project</a><br>
                <a>Create User</a>
            </div>
        </div>
    </div>
   <router-outlet></router-outlet>

<!--

   <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

-->




