<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card m-3">
            <h5 class="card-header">Search By Type</h5>
            <div class="card-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Select tag</label>
                            <select name="companyName" class="form-control" [(ngModel)]="model.companyName"
                                #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }"
                                required>
                                <option value=""></option>
                                <option value="Aroha">Java</option>
                                <option value="Infy">SQL</option>
                            </select>
                            <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                                <div *ngIf="companyName.errors.required">Tag Is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Search</button>
                        <button class="btn btn-secondary" type="reset">Cancel</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card m-3">
            <h5 class="card-header">Search By Type</h5>
            <div class="card-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Select Type</label>
                            <select name="companyName" class="form-control" [(ngModel)]="model.companyName"
                                #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }"
                                required>
                                <option value=""></option>
                                <option value="Aroha">doc</option>
                                <option value="Infy">pdf</option>
                            </select>
                            <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                                <div *ngIf="companyName.errors.required">Document Type Is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Search</button>
                        <button class="btn btn-secondary" type="reset">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>